@layer reset, base, theme, components, utilities;

* {
  overscroll-behavior: none !important;
}

body {
  font-family: var(--font-family);
}

.legend {
  display: flex;
  flex-direction: column;
  gap: var(--size-050);
  .currency {
    font-size: var(--fs-medium);
    font-weight: var(--fw-active);
  }
  .balance {
    font-size: var(--fs-small);
    color: var(--clr-text-weaker);
  }
}
