@layer reset, base, theme, components, utilities;

* {
  overscroll-behavior: none !important;
}

body {
  font-family: var(--font-family);
}

.legend {
  display: flex;
  flex-direction: column;
  gap: var(--size-050);
  .currency {
    font-size: var(--fs-medium);
    font-weight: var(--fw-active);
  }
  .balance {
    font-size: var(--fs-small);
    color: var(--clr-text-weaker);
  }
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  font-size: 16px !important;
}
