@layer components {
  .button {
    --_background-color: transparent;
    --_background-color-active: transparent;
    --_border-color: transparent;
    --_border-color-active: transparent;
    --_color: var(--clr-neutral-900);
    --_color-active: var(--clr-neutral-900);

    --_size: var(--control-size-medium);
    --_width: fit-content;
    --_height: var(--_size);

    --_gap: var(--control-gap-medium);

    --_padding-inline: var(--control-padding-inline-medium);
    --_padding-block: var(--control-padding-block-medium);

    --_icon-size: var(--size-200);

    --_font-size: var(--fs-medium);

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: var(--_gap);

    --_border-radius: var(--border-radius-pill);

    padding-inline: var(--_padding-inline);

    height: var(--_height);
    min-height: var(--_height);

    width: var(--_width);
    min-width: var(--_width);

    background-color: var(--_background-color);
    border: var(--border-width-default) solid var(--_border-color);
    color: var(--_color);

    font-weight: var(--fw-active);
    font-size: var(--_font-size);

    border-radius: var(--_border-radius);

    /* Variants */
    &[data-variant="primary"] {
      &[data-color="primary"] {
        --_background-color: var(--clr-primary);
        --_border-color: var(--clr-primary);
        --_color: var(--clr-text-on-primary);

        --_background-color-active: var(--clr-primary-active);
        --_border-color-active: var(--clr-primary-active);
        --_color-active: var(--clr-text-on-primary);
      }
      &[data-color="primary-light"] {
        --_background-color: var(--clr-green-300);
        --_border-color: var(--clr-green-300);
        --_color: var(--clr-text);

        --_background-color-active: var(--clr-primary-active);
        --_border-color-active: var(--clr-primary-active);
        --_color-active: var(--clr-text-on-primary);
      }
      &[data-color="neutral"] {
        --_background-color: var(--clr-surface-raised);
        --_border-color: var(--clr-neutral-300);
        --_color: var(--clr-text);

        --_background-color-active: var(--clr-status-neutral-active);
        --_border-color-active: var(--clr-border-hover);
        --_color-active: var(--clr-text);
      }
      &[data-color="danger"] {
        --_background-color: var(--clr-status-danger);
        --_border-color: var(--clr-status-danger);
        --_color: var(--clr-text-on-primary);

        --_background-color-active: var(--clr-status-danger-active);
        --_border-color-active: var(--clr-status-danger-active);
        --_color-active: var(--clr-text-on-primary);
      }
      &[data-color="transparent"] {
        --_background-color: transparent;
        --_border-color: transparent;
        --_color: var(--clr-text);

        --_background-color-active: var(--clr-surface-raised);
        --_border-color-active: var(--clr-surface-raised);
        --_color-active: var(--clr-text);
      }

      &[data-color="transparent-invert"] {
        --_background-color: transparent;
        --_border-color: transparent;
        --_color: var(--clr-white);

        --_background-color-active: var(--clr-neutral-900);
        --_border-color-active: var(--clr-neutral-900);
        --_color-active: var(--clr-white);
      }
      &[data-color="invert"] {
        --_background-color: var(--clr-white);
        --_border-color: var(--clr-white);
        --_color: var(--clr-text);

        --_background-color-active: var(--clr-surface-raised);
        --_border-color-active: var(--clr-surface-raised);
        --_color-active: var(--clr-text);
      }
      &[data-color="white"] {
        --_background-color: var(--clr-white);
        --_border-color: var(--clr-white);
        --_color: var(--clr-text);

        --_background-color-active: var(--clr-surface-raised);
        --_border-color-active: var(--clr-surface-raised);
        --_color-active: var(--clr-text);
      }
    }
    &[data-variant="secondary"] {
      &[data-color="primary"] {
        --_background-color: transparent;
        --_border-color: var(--clr-primary);
        --_color: var(--clr-primary);

        --_background-color-active: var(--clr-primary-active);
        --_border-color-active: var(--clr-primary-active);
        --_color-active: var(--clr-text-on-primary);
      }
    }
    &[data-variant="ghost"] {
      &[data-color="primary"] {
        --_background-color: transparent;
        --_border-color: transparent;
        --_color: var(--clr-primary);

        --_background-color-active: transparent;
        --_border-color-active: transparent;
        --_color-active: transparent;
      }
    }

    &[data-variant="token-select"] {
      --_background-color: transparent;
      --_border-color: #444444;
      --_color: #444444;

      &[data-selected="true"] {
        --_background-color: #444444;
        --_border-color: #444444;
        --_color: #ffffff;
      }
    }

    /* Size */
    --_size: var(--control-size-x-small);
    --_gap: var(--control-gap-x-small);

    --_padding-inline: var(--control-padding-inline-x-small);
    --_padding-block: var(--control-padding-block-x-small);

    &[data-size="xx-small"] {
      --_size: var(--control-size-xx-small);
      --_gap: var(--control-gap-xx-small);
      --_font-size: var(--fs-small);

      --_padding-inline: var(--control-padding-inline-xx-small);
      --_padding-block: var(--control-padding-block-xx-small);

      &[data-border-radius="square"] {
        --_border-radius: var(--border-radius-small);
      }
    }
    &[data-size="x-small"] {
      --_size: var(--control-size-x-small);
      --_gap: var(--control-gap-x-small);
      --_font-size: var(--fs-small);

      --_padding-inline: var(--control-padding-inline-x-small);
      --_padding-block: var(--control-padding-block-x-small);

      &[data-border-radius="square"] {
        --_border-radius: var(--border-radius-small);
      }
    }
    &[data-size="small"] {
      --_size: var(--control-size-small);
      --_gap: var(--control-gap-small);
      --_font-size: var(--fs-medium);

      --_padding-inline: var(--control-padding-inline-small);
      --_padding-block: var(--control-padding-block-small);

      &[data-border-radius="square"] {
        --_border-radius: var(--border-radius-small);
      }
      &[data-icon-only] {
        --_padding-inline: 0;
        --_padding-block: 0;
        --_width: var(--control-size-x-small);
        --_height: var(--control-size-x-small);
      }
    }
    &[data-size="medium"] {
      --_size: var(--control-size-medium);
      --_gap: var(--control-gap-medium);
      --_font-size: var(--fs-medium);

      --_padding-inline: var(--control-padding-inline-medium);
      --_padding-block: var(--control-padding-block-medium);

      &[data-border-radius="square"] {
        --_border-radius: var(--border-radius-medium);
      }
      &[data-icon-only] {
        --_padding-inline: 0;
        --_padding-block: 0;
        --_width: var(--control-size-small);
        --_height: var(--control-size-small);
      }
    }
    &[data-size="large"] {
      --_size: var(--control-size-large);
      --_gap: var(--control-gap-large);
      --_font-size: var(--fs-large);

      --_padding-inline: var(--control-padding-inline-large);
      --_padding-block: var(--control-padding-block-large);

      &[data-border-radius="square"] {
        --_border-radius: var(--border-radius-medium);
      }
    }
    &[data-size="x-large"] {
      --_size: var(--control-size-large);
      --_gap: var(--control-gap-large);
      --_font-size: var(--fs-large);

      --_padding-inline: var(--control-padding-inline-large);
      --_padding-block: var(--control-padding-block-large);

      &[data-border-radius="square"] {
        --_border-radius: var(--border-radius-medium);
      }
    }

    &[data-wrap="true"] {
      padding-block: var(--_padding-block);
      --_padding-inline: var(--_padding-block);
    }

    /* Expand */
    &[data-expand="true"] {
      display: flex;
      --_width: 100%;
    }

    &:is([disabled], [data-disabled], [aria-disabled="true"]) {
      opacity: 0.75;
      cursor: not-allowed;
    }

    &[data-border-radius="pill"] {
      --_border-radius: var(--border-radius-pill);
    }
  }

  .button-group {
    display: flex;
    gap: var(--control-gap-medium);
    &[data-direction="horizontal"] {
      flex-direction: row;
    }
    &[data-direction="vertical"] {
      flex-direction: column;
    }
    &[data-size="x-small"] {
      gap: var(--control-gap-x-small);
    }
    &[data-size="small"] {
      gap: var(--control-gap-small);
    }
    &[data-size="medium"] {
      gap: var(--control-gap-medium);
    }
    &[data-scroll="true"] {
      overflow-x: auto;
    }
    &:has([data-expand="true"]) {
      & .item {
        flex: 1 1 0;
      }
    }
  }
  .toast {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: var(--size-100);
    align-items: center;
    position: absolute;
    inset: 0;
    margin: auto;
    padding-inline: var(--size-150);
    width: 15rem;
    height: 3.5rem;
    box-shadow: var(--box-shadow-popout);
    border-radius: var(--border-radius-medium);
    background-color: var(--clr-surface-raised);
    color: var(--clr-text);
    font-weight: var(--fw-active);
    font-size: var(--fs-medium);
    line-height: var(--line-height-tight);
    &[data-type="blank"] {
      --_color-active: var(--clr-status-info);
      background-color: var(--clr-status-info-weak);
      color: var(--clr-text-info);
    }
    &[data-type="success"] {
      --_color-active: var(--clr-status-success);
      background-color: var(--clr-status-success-weak);
      color: var(--clr-text-success);
    }
    &[data-type="error"] {
      --_color-active: var(--clr-status-danger);
      background-color: var(--clr-status-danger-weak);
      color: var(--clr-text-danger);
    }
  }
  @keyframes toast-time {
    0% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }

  .skeleton-shimmer {
    position: relative;
    overflow: hidden;
  }

  .skeleton-shimmer::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    margin: auto;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.2) 20%,
      rgba(255, 255, 255, 0.5) 60%,
      rgba(255, 255, 255, 0)
    );
    animation: shimmer 2s infinite;
  }
  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}
