@layer components {
  .page {
    min-height: 100lvh;
    margin: auto;
  }
  .site-layout {
    min-height: 100lvh;
    background-color: var(--clr-surface);
    font-family: var(--font-family);
  }
  .app-layout {
    display: grid;
    grid-template-rows: 4rem 1fr 4.5rem;
    height: 100lvh;
    max-height: 100lvh;
    max-width: 420px;
    margin-inline: auto;
    font-family: var(--font-family);
  }
}
