:root {
  --fs-6x-large: calc(1rem * 48 / 16);
  --fs-5x-large: calc(1rem * 40 / 16);
  --fs-4x-large: calc(1rem * 32 / 16);
  --fs-3x-large: calc(1rem * 26 / 16);
  --fs-xx-large: calc(1rem * 22 / 16);
  --fs-x-large: calc(1rem * 18 / 16);
  --fs-large: calc(1rem * 16 / 16);
  --fs-medium: calc(1rem * 14 / 16);
  --fs-small: calc(1rem * 13 / 16);
  --fs-x-small: calc(1rem * 12 / 16);
  --fs-xx-small: calc(1rem * 11 / 16);

  --font-family: "Inter", sans-serif;
  --font-family-mono: "Azeret Mono", monospace;

  --fw-default: 400;
  --fw-active: 500;
  --fw-heading: 600;
  --fw-strong: 700;

  --line-height-tight: 1.15;
  --line-height-heading: 1.2;
  --line-height-caption: 1.3;
  --line-height-default: 1.5;
  --line-height-form: calc(1rem * 16 / 16);
}

.heading-5x-large {
  line-height: var(--line-height-heading);
  font-size: var(--fs-6x-large);
  font-weight: 700;
}

.heading-4x-large {
  line-height: var(--line-height-heading);
  font-size: var(--fs-5x-large);
  font-weight: var(--fw-heading);
}

.heading-3x-large {
  line-height: var(--line-height-heading);
  font-size: var(--fs-4x-large);
  font-weight: var(--fw-heading);
}

.heading-xx-large {
  line-height: var(--line-height-heading);
  font-size: var(--fs-3x-large);
  font-weight: var(--fw-heading);
}

.heading-x-large {
  line-height: var(--line-height-heading);
  font-size: var(--fs-xx-large);
  font-weight: var(--fw-heading);
}

.heading-large {
  line-height: var(--line-height-heading);
  font-size: var(--fs-x-large);
  font-weight: var(--fw-heading);
}

.heading-medium {
  line-height: var(--line-height-heading);
  font-size: var(--fs-large);
  font-weight: var(--fw-heading);
}

.heading-small {
  line-height: var(--line-height-heading);
  font-size: var(--fs-medium);
  font-weight: var(--fw-active);
}

.heading-x-small {
  line-height: var(--line-height-heading);
  font-size: var(--fs-small);
  font-weight: var(--fw-active);
}

.subtitle {
  line-height: var(--line-height-caption);
  font-size: var(--fs-medium);
}

.caption-xx-large {
  line-height: var(--line-height-caption);
  font-size: var(--fs-xx-large);
}

.caption-x-large {
  line-height: var(--line-height-caption);
  font-size: var(--fs-x-large);
}

.caption-large {
  line-height: var(--line-height-caption);
  font-size: var(--fs-large);
}

.caption {
  line-height: var(--line-height-caption);
  font-size: var(--fs-medium);
}

.caption-small {
  line-height: var(--line-height-caption);
  font-size: var(--fs-small);
}

.caption-x-small {
  line-height: var(--line-height-caption);
  font-size: var(--fs-x-small);
}

.body {
  line-height: var(--line-height-body);
  font-size: var(--fs-medium);
}

.body-small {
  line-height: var(--line-height-body);
  font-size: var(--fs-small);
}

.body-x-small {
  line-height: var(--line-height-body);
  font-size: var(--fs-x-small);
}
