.stock-balance {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  .balance {
    font-size: var(--fs-3x-large) !important;
    font-weight: var(--fw-heading);
    line-height: var(--line-height-heading);
    color: var(--clr-text);
  }
  .date {
    font-size: var(--fs-small) !important;
    line-height: var(--line-height-caption);
    color: var(--clr-text-weaker);
  }
}
