@layer reset, base, theme, components, utilities;

.site-layout {
  font-family: var(--font-family);
  font-size: var(--fs-medium);
  font-family: Inter, sans-serif;
}

* {
  overscroll-behavior: none !important;
}
