:root {
  --clr-white: #fff;
  --clr-black: #fff;

  --clr-neutral-100: #fff;
  --clr-neutral-200: #fff;
  --clr-neutral-300: #fff;
  --clr-neutral-400: #fff;
  --clr-neutral-500: #fff;
  --clr-neutral-600: #fff;
  --clr-neutral-700: #fff;
  --clr-neutral-800: #fff;
  --clr-neutral-900: #fff;

  --clr-purple-100: #fff;
  --clr-purple-200: #fff;
  --clr-purple-300: #fff;
  --clr-purple-400: #fff;
  --clr-purple-500: #fff;
  --clr-purple-600: #fff;
  --clr-purple-700: #fff;
  --clr-purple-800: #fff;
  --clr-purple-900: #fff;

  --clr-red-100: #fff;
  --clr-red-200: #fff;
  --clr-red-300: #fff;
  --clr-red-400: #fff;
  --clr-red-500: #fff;
  --clr-red-600: #fff;
  --clr-red-700: #fff;
  --clr-red-800: #fff;
  --clr-red-900: #fff;

  --clr-yellow-100: #fff;
  --clr-yellow-200: #fff;
  --clr-yellow-300: #fff;
  --clr-yellow-400: #fff;
  --clr-yellow-500: #fff;
  --clr-yellow-600: #fff;
  --clr-yellow-700: #fff;
  --clr-yellow-800: #fff;
  --clr-yellow-900: #fff;

  --clr-blue-100: #fff;
  --clr-blue-200: #fff;
  --clr-blue-300: #fff;
  --clr-blue-400: #fff;
  --clr-blue-500: #fff;
  --clr-blue-600: #fff;
  --clr-blue-700: #fff;
  --clr-blue-800: #fff;
  --clr-blue-900: #fff;

  --clr-green-100: #fff;
  --clr-green-200: #fff;
  --clr-green-300: #fff;
  --clr-green-400: #fff;
  --clr-green-500: #fff;
  --clr-green-600: #fff;
  --clr-green-700: #fff;
  --clr-green-800: #fff;
  --clr-green-900: #fff;

  --clr-accent: var(--clr-green-500);
  --clr-accent-secondary: var(--clr-green-400);

  --clr-text: var(--clr-neutral-900);
  --clr-text-link: var(--clr-green-500);
  --clr-text-weak: var(--clr-neutral-700);
  --clr-text-weaker: var(--clr-neutral-500);
  --clr-text-weakest: var(--clr-neutral-300);
  --clr-text-on-accent: var(--clr-white);
  --clr-text-error: var(--clr-red-500);
  --clr-text-danger: var(--clr-red-500);
  --clr-text-success: var(--clr-green-500);
  --clr-text-neutral: var(--clr-neutral-500);
  --clr-text-neutral-strong: var(--clr-neutral-700);
  --clr-text-warning: var(--clr-yellow-500);
  --clr-text-warning-strong: var(--clr-yellow-700);
  --clr-text-highlight: var(--clr-purple-500);
  --clr-text-info: var(--clr-blue-500);
  --clr-text-progress: var(--clr-green-500);

  --clr-surface: var(--clr-white);
  --clr-surface-raised: var(--clr-neutral-100);
  --clr-surface-lowered: var(--clr-neutral-200);

  --clr-border-neutral: var(--clr-neutral-300);
  --clr-border-strong: var(--clr-neutral-400);
  --clr-border-success: var(--clr-green-300);
  --clr-border-warning: var(--clr-yellow-300);
  --clr-border-danger: var(--clr-red-300);
  --clr-border-info: var(--clr-blue-300);
  --clr-border-progress: var(--clr-green-300);
  --clr-border-hover: var(--clr-neutral-400);

  --clr-status-neutral: var(--clr-white);
  --clr-status-success: var(--clr-green-500);
  --clr-status-warning: var(--clr-yellow-500);
  --clr-status-danger: var(--clr-red-500);
  --clr-status-info: var(--clr-blue-500);
  --clr-status-highlight: var(--clr-purple-500);
  --clr-status-notification: var(--clr-green-500);

  --clr-status-neutral-weak: var(--clr-white);
  --clr-status-success-weak: var(--clr-green-100);
  --clr-status-warning-weak: var(--clr-yellow-100);
  --clr-status-danger-weak: var(--clr-red-100);
  --clr-status-info-weak: var(--clr-blue-100);
  --clr-status-highlight-weak: var(--clr-purple-100);
  --clr-status-notification-weak: var(--clr-green-100);
}
