@layer components {
  .page {
    min-height: 100vh;
    min-height: 100dvh;
    margin: auto;
  }
  .site-layout {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--clr-surface);
  }
  .app-layout {
    display: grid;
    grid-template-rows: 4rem 1fr 4.5rem;
    height: 100vh;
    height: 100svh;
    max-height: 100vh;
    max-height: 100svh;
    max-width: 420px;
    margin-inline: auto;
  }
}
